.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    div {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.category-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 25px;
}
